<html>
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2>
				Enrollment Schools
			</h2>
		
		</div>
		<div class="panel-body">
            
			 	<table class="table table-striped">
				<thead>
					<th>Name</th>
					<th>Street</th>
 					<th>City</th>
					<th>State</th>						
		 		</thead>
				<tbody>
					<tr  th:each=" item: ${colleges}">
						<td th:text="${item.name}"></td>
						<td th:text="${item.street}"></td>
		 				<td th:text="${item.city}"></td>
						<td th:text="${item.state}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>

